.item {
    padding: 10px;
    border-bottom: 1px solid #b0b0b0;
}

.item footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemActions {
    display: flex;
    gap: 10px;
}