.book {
    padding: 0 24px;
}

.book footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions {
    display: flex;
    gap: 10px;
}

.title {
    margin: 0;
}